.login .userPhoto{width:90px;height:90px;margin:20% auto 0;overflow:hidden;border-radius:5px}
.login .userPhoto img{width:100%}
.login .name{width:100%;text-align:center;display:inline-block;height:30px;line-height:30px}
.login .btn{width:90%;margin:40px auto 0;}
.login .password{width:80%;margin:0 auto;}
.login input{border:none;border-bottom:1px solid #ccc;height:40px;line-height:40px;width:80%;margin:0 auto;padding:0 10%;text-align:center }
